# Virtual environment folder
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Data files
*.csv

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
